{% extends "base.html" %}

{% block content %}
<div class="container">
<form action="" method="POST">
	{{ form.csrf_token }}
	<div class="form-group">
		{{form.nome.label}}
		{{form.nome}}
	</div>
	{% for e in form.errors.nome %}
	<div class="alert alert-danger">{{ e }}</div>
	{% endfor %}

	<div class="form-group">
		{{form.login.label}}
		{{form.login}}
	</div>
	{% for e in form.errors.login %}
	<div class="alert alert-danger">{{ e }}</div>
	{% endfor %}

	<div class="form-group">
		{{form.senha.label}}
		{{form.senha}}
	</div>
	{% for e in form.errors.senha %}
	<div class="alert alert-danger">{{ e }}</div>
	{% endfor %}

	<div class="row mb-3 col-md-4">
	Você é
	<select name="urole" class="form-select">
		<option value="aluno">Aluno</option>
		<option value="professor">Professor</option>
	</select>
	</div>
	{{form.submit(class_='btn btn-primary')}}
</form>
</div>
{% endblock %}