{% extends "base.html" %}
{% set active_page = "provas" %}
{% block title %}Provas{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-end mb-2">
        <a href="{{url_for('prova.cadastrar_prova')}}" type="button" class="btn btn-primary" role="button">Nova Prova</a>
    </div>
    

    {% for prova in provas %} 
    <a href="{{url_for('prova.responder_prova', _id = prova.id)}}" type="button" class="btn btn-outline-secondary col-md-12 mb-2" role="button">
        <div class="d-flex justify-content-start">
            {{ prova.descricao }} 
        </div>
        <div class="d-flex justify-content-end">
            {{ prova.data }}
        </div>
    </a>
    {% endfor %}

</div>

{% endblock %}